.env
.venv
__pycache__/
.ipynb_checkpoints
.vscode/
.DS_Store
*.pyc
instance/
celerybeat-schedule
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
pytestdebug.log
dist/
build/
*.egg-info/
pip-wheel-metadata/
.pyre/
mypy_cache/
